<?xml version="1.0"?>
<config>
    <modules>
        <AutoPetz_ProductFlatRate>
            <version>1.0.0</version>
            <depends>
                <Mage_Shipping />
            </depends>
        </AutoPetz_ProductFlatRate>
    </modules>
    <global>
        <!--Setup class for installing the shipping cost attribute-->
        <resources>
            <productflatrate_setup>
                <setup>
                    <module>AutoPetz_ProductFlatRate</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </productflatrate_setup>
        </resources>
        <!--Accommodate for the -_- autoloader-->
        <models>
            <autoPetz_productFlatRate>
                <class>AutoPetz_ProductFlatRate_Model</class>
            </autoPetz_productFlatRate>
        </models>
        <!--Make our attribute available everywhere-->
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <flat_rate_shipping_price/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <default>
        <carriers>
            <autopetz_flatratebyproduct>
                <model>autoPetz_productFlatRate/carrier_flatRate</model>
                <active>0</active>
                <title>Flat Rate</title>
                <name>Fixed</name>
                <enabled_by_default>0</enabled_by_default>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <sallowspecific>0</sallowspecific>
            </autopetz_flatratebyproduct>
        </carriers>
    </default>
</config>
